body, html {
  height: 100%; }

body {
  background: #333;
  color: #fff; }

.navbar {
  min-height: 75px;
  transition: all 0.3s ease; }
  .navbar .navbar-brand {
    font-family: 'Lobster', cursive;
    font-size: 2rem;
    transition: all 0.5s ease; }
    @media (max-width: 576px) {
      .navbar .navbar-brand {
        font-size: 1.2rem; } }
  @media (max-width: 576px) {
    .navbar .navbar-toggler, .navbar .nav-link {
      font-size: 0.7rem; } }

.navbar.shrink {
  background-color: #000;
  min-height: 45px; }
  .navbar.shrink .navbar-brand {
    font-size: 1.5rem; }

#main-header {
  background: url("../img/banner2.jpeg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  display: flex; }
  @media (max-width: 576px) {
    #main-header {
      height: 300px; } }
  #main-header .dark-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
    @media (max-width: 576px) {
      #main-header .dark-overlay {
        height: 300px; } }
  #main-header h1 {
    font-family: 'Courgette', cursive; }
    @media (max-width: 576px) {
      #main-header h1 {
        font-size: 2rem; } }
  @media (max-width: 576px) {
    #main-header p.lead {
      font-size: 1rem; } }

#portfolio .fa {
  color: #008ed6;
  background: #fff;
  padding: 4px;
  border-radius: 5px;
  font-size: 30px; }
