$bg-color: #333;
$font-color: #fff;
$primary-color: #008ed6;
$dark-overlay: rgba(0,0,0,0.7);
$icon-size: 30px;
$screen-sm-max: 576px;

@mixin sm {
   @media (max-width: #{$screen-sm-max}) {
       @content;
   }
}

body, html {
    height: 100%;
}

body {
	background: $bg-color;
	color: $font-color;
}

.navbar {
	// border-bottom: $primary-color 3px solid;
	// opacity: 0.8;
	min-height: 75px;
	transition: all 0.3s ease;
	.navbar-brand {
		font-family: 'Lobster', cursive;
		font-size: 2rem;
		transition: all 0.5s ease;
		@include sm {
			font-size: 1.2rem;
		}
	}

	.navbar-toggler, .nav-link {
		@include sm {
			font-size: 0.7rem;
		}
	}
}

.navbar.shrink {
	background-color: #000;
	min-height: 45px;
	.navbar-brand {
		font-size: 1.5rem;
	}
}

#main-header {
	background: url('../img/banner2.jpeg') no-repeat;
	background-size: cover;
	background-attachment: fixed;
	width: 100%;
	height: 100%;
	display: flex;

	@include sm {
		height: 300px;
	}

	.dark-overlay {
		background-color: $dark-overlay;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		@include sm {
			height: 300px;
		}
	}

	h1 {
		font-family: 'Courgette', cursive;
		@include sm {
			font-size: 2rem;
		}
	}

	p.lead {
		@include sm {
			font-size: 1rem;
		}
	}
}

#portfolio {
	.fa {
		color: $primary-color;
		background: #fff;
		padding: 4px;
		border-radius: 5px;
		font-size: $icon-size;
	}
}